
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/.idea/dataSources.xml
/.idea/sshConfigs.xml
/public/uploads/
/.idea/inspectionProfiles/
